.container__articles{
  margin-top: 30px;

  display: flex;
  flex-direction: row;
}

.articles__main {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.articles__others{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

