.container__menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li {
  margin-right: 60px;
  list-style: none;
}

.container__menu-bar > ul > li > a {
  text-decoration: none;
}

.container__menu-bar > ul > li > img{
  width: 40px;
  height: 40px;
}


